{% extends 'core/adminbase.html' %}

{% block style %}
    .exam-branch{
        display:block;
        background-color:red;
        width:350px;
        height:120px;
        padding:80px;
        text-align:center;
        text-decoration:none;
        border:none;
        border-radius:8px;
        margin-top:-100px;
       
    }
    .students{
        display:block;
        background-color:green;
        width:200px;
        padding:20px;
        text-align:center;
        text-decoration:none;
        border:none;
        border-radius:8px;
        margin-left:550px;
        margin-top:-280px;
       
    
    }
    
    .teachers{
        display:block;
        background-color:yellow;
        width:200px;
        padding:20px;
        text-align:center;
        text-decoration:none;
        border:none;
        border-radius:8px;
        margin-left:550px;
        margin-top:20px;
    }
    .xx{
    display:block;
    background-color:lightsalmon;
    width:200px;
    padding:20px;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:8px;
    margin-left:550px;
    margin-top:20px;
}
.yy{
    display:block;
    background-color:teal;
    width:200px;
    padding:20px;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:8px;
    margin-left:280px;
    margin-top:-130px;
}
.zz{
    display:block;
    background-color:lightgreen;
    width:200px;
    padding:20px;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:8px;
    margin-left:0px;
    margin-top:-130px;
}
   
   
       
    
    
    
       
    h4,h3{
        color:black;
        face:impact;
        font-family:courier;
    }
{% endblock style%}

  
{% block content %}
    
        <a href="{% url 'admineb' %}" class="exam-branch"><i class='fa fa-graduation-cap' style='font-size:36px;color:blue'></i>
        <br><h3> Examination branch </h4></a>
        <a href="" class="students"> <i class='fas fa-book-reader' style='font-size:30px;color:red'></i><br> <h4>students</h4></a>
        <a href="" class="teachers" ><i class='fas fa-chalkboard-teacher' style='font-size:30px;color:red'></i> <br> <h4>teacher</h4> </a>
        <a href="" class="xx" ><i class='fas fa-chalkboard-teacher' style='font-size:30px;color:red'></i><br> <h4>xx</h4> </a>
        <a href="" class="yy"> <i class='fas fa-chalkboard-teacher' style='font-size:30px;color:red'></i><br><h4> zz</h4> </a>
        <a href=""class="zz">  <i class='fas fa-chalkboard-teacher' style='font-size:30px;color:red'></i><br><h4> zz</h4> </a>
    
{% endblock content %}